apiVersion: apps/v1
kind: Deployment
metadata:
  name: ccidexemplereact
  labels:
    app: ccidexemplereact
spec:
  replicas: 3
  selector:
    matchLabels:
      app: ccidexemplereact
  template:
    metadata:
      labels:
        app: ccidexemplereact
    spec:
      containers:
      - name: mon-container
        image: cicicdexemplerelactcd:latest
        ports:
        - containerPort: 55278